body {
	background-color: #A5C9FF;
	font-family: 'Noto Sans TC', sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 5em;
}

.title {
	margin-top: 1em;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.hide {
	display: none;
}

.text-danger {
	color: #AA0000;
}

.cat-action {
	background-color: #AAAA00;
}

.line {
	background-color: #AAA;
	border: solid 1px #DDD;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row .box {
	min-height: 120px;
	padding: 5px 10px 10px 5px;
	border: solid 1px #842D71;
}

.input-group {
	margin-left: auto;
	margin-right: auto;
	max-width: 360px;
}

.table td, .table th {
  text-align: center;
}

.table {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

@media screen and (max-width: 1024px) {
	.table {
		width: 100%;
	}
}
